* {
  margin: 0;
  padding: 0;
}

:root {
  --lt-grey: #f2f2f2;
  --grey: #cbc7c7;
  --black: #232323;
  --blue: #5a90e3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// Widgets
.zoom-widget {
  display: flex;
  align-items: center;
  p {
    margin-right: 8px;
  }
  .zoom-level {
    border: 1px solid var(--lt-grey);
    padding: 4px 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: border 0.25s ease;
    &:hover {
      border-color: var(--black);
    }
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  padding: 32px;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.multi-carousel {
  overflow: hidden;
  @extend .box-shadow;
  width: 400px;
  border: 1px solid var(--lt-grey);
  padding: 16px;

  img {
    object-fit: cover;
  }
  .previews {
    display: flex;
  }
}

.preview-image {
  position: relative;
  top: 0px;
  left: 0px;
  background-position: center center;
  width: 200px;
  height: 200px;
  background-size: cover;
  transition: background-size 0.25s ease;
  cursor: pointer;
  margin-bottom: 8px;
  z-index: 0;
}

.carousel-prev {
  height: 80px;
  flex: 1;
  margin-right: 8px;
  &:last-of-type {
    margin-right: 0;
  }
  img {
    width: 100%;
    height: 100%;
    margin-right: 8px;
  }
  &--not-selected {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.25s ease;
    &:hover {
      opacity: 1;
    }
  }
}

.carousel-bottom-section {
  background-color: #fff;
  z-index: 2;
}

.product-list {
  .product {
    margin-right: 16px;
  }
  .products {
    display: flex;
    flex-direction: row;
  }
}

.product {
  background-color: var(--lt-grey);
  padding: 16px 24px;
  //display: inline-block;
  cursor: pointer;

  h3 {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 8px;
  }
  h3,
  p {
    color: var(--blue);
  }
  b {
    color: var(--black);
  }
  transition: background-color 0.25s ease;
  &:hover {
    h3,
    h3 + p {
      text-decoration: underline;
    }
    background-color: var(--grey);
  }
}
// Animations

@keyframes top-to-bottom {
  0% {
    top: -100%;
  }

  100% {
    top: 0px;
  }
}

.top-to-bottom-anim {
  animation: top-to-bottom 0.5s ease;
}

@keyframes bottom-to-top {
  0% {
    top: 100%;
  }

  100% {
    top: 0px;
  }
}

.bottom-to-top-anim {
  animation: bottom-to-top 0.5s ease;
}

@keyframes left-to-right {
  0% {
    left: 0px;
  }
  100% {
    left: 100%;
  }
}

.left-to-right-anim {
  animation: left-to-right 0.5s ease;
}

@keyframes right-to-left {
  0% {
    left: 100%;
  }
  100% {
    left: 0px;
  }
}

.right-to-left-anim {
  animation: right-to-left 0.5s ease;
}


// Pagination
.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pagination-icon {
  padding-right: 4px;
  padding-left: 4px;
  margin-right: 8px;
  margin-left: 8px;
  &:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
    border-spacing: 4px;
    font-weight: bold;
  }
}
.selected {
  border-bottom: 1px solid black;
  border-spacing: 4px;
  &:hover {
    cursor: default;
    font-weight: 400;
  }
}
.contrast {
  &:hover {
    color: var(--black);
    cursor: pointer;
  }
}
.sort-box {
  border: 2px solid var(--blue);
  padding: 8px 16px;
  border-radius: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}
.active-sort-box {
  background-color: var(--blue);
  cursor: default;
  outline: 2px solid var(--blue);
  outline-offset: 3px;
  border-radius: 16px;
  h5 {
    color: #fff;
  }
}

// End of pagination


// Margins and padding
.mar-right-8 {
  margin-right: 8px;
}

.mar-left-8 {
  margin-left: 8px;
}

.mar-bottom-8 {
  margin-bottom: 8px;
}

.mar-bottom-16 {
  margin-bottom: 16px;
}
// End of margins and padding

// Flex
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
// End of flex